@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome + Safari */
}
@font-face {
  font-family: "menlo";
  src: url("./assets/Menlo-Regular.ttf") format("truetype");
  font-style: normal;
}


@theme{
   --font-menlo:"menlo", "sans-serif"
}
@layer base {
  html {
    font-family: 'menlo', sans-serif;
  }
}
@keyframes cloudFloat {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(120vw);
  }
}

.cloud-float {
  animation: cloudFloat 20s linear infinite;
}




@keyframes spinClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sun-rotate {
  animation: spinClockwise 4s steps(6, end) infinite;
}
